<div class="listcontainer" *ngIf="Loaded">
  <ul>
        <li class="filter_container z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col l2 m2 s3">
                        <label class="active" for="title">Zoeken</label>
                        <input value="" name="title" [(ngModel)]="Search" id="title" type="text" class="validate">
                    </div>
                    <div class="col l2 m2 s2">
                        
                    </div>
                    <div class="col l2 m2 s2">
                        
                    </div>
                    <div class="col l2 m2 s2">
                        
                    </div>
                    <div class="col l2 m2 s2">
                        
                    </div>
                </div>
        </li>
        <li>
            <div class="row valign-wrapper">
                <div class="col l2 m2 s2">
    
                </div>
                <div class="col l2 m2 s2">
                    <p (click)="ChangeOrder($event)"  (ngModelChange)="OrderByProp=$event" class="columnheader">Project</p>
                </div>
                <div class="col l2 m2 s2">
                    <p (click)="ChangeOrder($event)"  (ngModelChange)="OrderByProp=$event" class="columnheader">Bedrijf</p>
                </div>
                <div class="col l2 m2 s3">
                    <p (click)="ChangeOrder($event)" (ngModelChange)="OrderByProp=$event" class="columnheader">Ec</p>
                </div>
                <div class="col l2 m2 s2">
                    <p (click)="ChangeOrder($event)" (ngModelChange)="OrderByProp=$event" class="columnheader">Status</p>
                </div>
            </div>
            <div class="divider"></div>
        </li>
      <li class="assignment_item" *ngFor="let assignment of Assignments | orderBy:OrderByProp:true | searchFilter:Search">
          <a [routerLink]="['/studentopdrachtdetail', assignment.Id]">
            <div class="row valign-wrapper">
                <div class="col l2 m2 s3"><img id="companyimg" [src]="assignment.AssignmentImagePath"></div>
                <div class="col l2 m2 s2">
                    <p>{{assignment.Title}}</p>
                </div>
                <div class="col l2 m2 s2">
                    <p>{{assignment.Company.Name}}</p>
                </div>
                <div class="col l2 m2 s3">
                    <p>{{assignment.Status}}</p>
                </div>
                <div class="col l2 m2 s3">
                    <p>{{assignment.Ec}}</p>
                </div>
            </div>
            <div class="divider"></div>
        </a>  
      </li>
    </ul>
</div>
