<div class="formcontainer z-depth-1">
  <div class="row header"><h5 class="col s12 header_text">Wachtwoord vergeten</h5></div>
    <div class="row">
      <div class="col s12">
        <p>{{Message}}</p>
        <div class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="Email" [ngModelOptions]="{standalone: true}" id="email" type="text" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row buttonrow">
            <a (click)="SendPasswordRecovery()" class=" btn appbutton">Aanvragen</a>
        </div>
      </div>
    </div>
</div>
