<div class="formcontainer z-depth-1">
  <div class="row header">
    <h5 class="col s12 header_text">Bedrijfcode versturen</h5>
  </div>

  <form [formGroup]="form" (ngSubmit)="GenerateCompanyCode()">
    <div class="row">
      <div class="col s12">
        <p>{{Message}}</p>
      </div>

      <div class="input-field col s12">
        <input placeholder="E-Mail" [(ngModel)]="Email" name="email" id="email" type="text" class="validate" formControlName="email">
      </div>
    </div>

    <div class="row buttonrow">
        <button type="submit" class="btn appbutton" [disabled]="!form.valid">verzend</button>
      </div>
  </form>
</div>