<div class="formcontainer z-depth-1">
  <div class="row header"><h5 class="col s12">Wachtwoord herstellen</h5></div>
    <div class="row" *ngIf="!Valid">
      <div class="col s12">
        <p>{{Message}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12" *ngIf="Valid">
        <div class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="Password" [ngModelOptions]="{standalone: true}" id="password" type="text" class="validate">
            <label for="password">Nieuw Wachtwoord</label>
          </div>
        </div>
        <div class="row buttonrow">
            <a (click)="SetPassword()" class="waves-effect waves-light btn appbutton">opslaan</a>
        </div>
      </div>
    </div>
</div>
