<div class="objectcontainer z-depth-1" *ngIf="Loaded">
    <div class="row header"><h5 class="col s12">Opdracht toevoegen</h5></div>
    <div *ngIf="Succes" class="row">
      <div class="col s12 m12 l12">
        <div class="card teal lighten-2">
          <div class="card-content white-text">
            <span class="card-title message">Succes!</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-align">
      <div class="col s12 assignment_item">
        <div>
            <label id="getFileLabel" for="getFile">
              <img class="assignmentProfile" [src]="AssignmentImage.ImagePath">
            </label>
            <input type="file" id="getFile" (change)="onProfileSelected($event)"/>
        </div>  
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input value="" [(ngModel)]="AssignmentTitle" [ngModelOptions]="{standalone: true}" id="title" type="text" class="validate">
        <label for="title">Titel</label>
      </div>
    </div>
  
    <div class="row">
      <div class="input-field col s12 center-align" *ngIf="Images.length <= 0">
        <p>Voeg afbeeldingen toe</p>
      </div>
      <div class="input-field col s12 center-align">
        <div class="imageshow center-align z-depth-1" *ngFor="let image of Images">
          <div class="image">
            <img [src]="image.ImagePath" (click)="DeleteImage(image)">
          </div>
        </div>
      </div>
      <div class="col s12 center-align">
          <div class=" uploadbtn waves-effect waves-light btn appbutton">
              <label id="getFileLabel" for="getImage">
                Bestand
              </label>
              <input type="file" id="getImage" (change)="onImageSelected($event)"/>
            </div>
      </div>   
    </div>
    <div class="row">
          <div class="input-field col s12">
            <textarea [(ngModel)]="AssignmentDescription" [ngModelOptions]="{standalone: true}" id="description" class="materialize-textarea"></textarea>
            <label for="description">Beschrijving</label>
        </div>
    </div>
    <div class="row buttonrow">
      <a (click)="PostAssignment()" class="waves-effect waves-light btn appbutton">Opslaan</a>
    </div>  
  </div>