<div class="objectcontainer z-depth-1" *ngIf="Loaded">
  <div class="row header">
    <h5 class="col s12 header_text">Intekenen: {{Assignment.Title}}</h5>
  </div>
  <form (ngSubmit)="PostSubscription()" [formGroup]="form">
    <div class="row">
      <div class="input-field col s12">
        <textarea placeholder="Motivatie" [(ngModel)]="Motivation" id="description" class="materialize-textarea" formControlName="motivation"></textarea>
      </div>
    </div>
    <div class="row buttonrow">
      <button type="submit" class="btn appbutton" [disabled]="!form.valid">intekenen</button>
    </div>
  </form>
</div>