li{
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

img{
    border-radius: 100%;
    width: 100%;
    max-width: 60px;
    max-height: 60px;
}

p{
    word-wrap: break-word;
    text-align: center;
}

.columnheader{
    font-weight: bold;
}

.assignment_item{
    text-align: center;
}

.filter_container{
}

.assignment_item :hover{
    background-color: lightgrey;
}

a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    color: black;
  }
  
  a:visited {
    color: black;
  }