<div class="formcontainer z-depth-1">
  
  <div class="row header">
    <h5 class="col s12">Registreren Bedrijf</h5>
  </div>

  <form (ngSubmit)="SignUp()" [formGroup]="form">
    <div class="row form_row">
      <div class="col s12">
        <input placeholder="Registratiecode" name="code" [(ngModel)]="Code" id="code" type="text" class="" formControlName="code">
      </div>
      <div class="col s12">
        <input placeholder="Bedrijfsnaam" name="name" [(ngModel)]="Company.Name" id="name" type="text" class="" formControlName="name">
      </div>
      <div class="col s12">
        <input placeholder="Telefoonnummer" name="phonenumber" [(ngModel)]="Company.Phonenumber" id="phonenumber" type="text" class=""
          formControlName="phonenumber">
      </div>
      <div class="col s12">
        <input placeholder="E-Mail" name="email" [(ngModel)]="User.Email" id="email" type="text" class="" formControlName="email">
      </div>
      <div class="col s12">
        <input placeholder="Wachtwoord" name="password" [(ngModel)]="User.Password" id="password" type="password" class="" formControlName="password">
        <label for="password">Wachtwoord moet bestaan uit 8 karakters met minimaal een hoofdletter, een cijfer en een speciaalteken.</label>
      </div>
      <div class="col s12">
        <input placeholder="Herhaal wachtwoord" name="confirmPassword" id="confirmPassword" type="password" formControlName="confirmPassword">
      </div>
    </div>
    <div class="row buttonrow">
      <button type="submit" class="btn appbutton" [disabled]="!form.valid">Registreren</button>
    </div>
  </form>

</div>