<div class="objectcontainer" *ngIf="Loaded">
    <div class="row valign-wrapper">
        <div class="col l12 m12 s12 assignment_item center-align">
            <img id="projectimg" [src]="Assignment.AssignmentImage.ImagePath">
            <h5>{{Assignment.Title}}</h5>
            <p>{{Assignment.Company.Name}}</p>
        </div>
    </div>
    <div class="divider" *ngIf="!Students.length <= 0"></div>
    <a [routerLink]="['/bedrijfprojectintekeningen', Assignment.Id]" *ngIf="!Students.length <= 0">
        <div id="participants" class="assignment_row">
            <h5 id="participants_header">Deelnemers</h5>
            <span *ngFor="let student of Students">{{student.Name}} {{student.Surname}}</span>
        </div>
    </a>
    <div class="divider"></div>
    <div class="assignment_row">
        <span>{{Assignment.Description}}</span>
    </div>
    <div class="assignment_row" *ngIf="Images.length > 0">
        <div class="carousel carousel-slider center">
            <div *ngFor="let image of Images" class="center-align carousel-item white white-text" href="#one!">
                <img id="showimg" src="{{image.ImagePath}}">
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" *ngIf="Loaded">
        <a [routerLink]="['/bedrijfeditopdracht', Assignment.Id]" class="btn-floating btn-large red waves-effect waves-light">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>